<header class="toolbar toolbar-header draggable">
  <h1 class="title">{{ appTitle }}</h1>

  <div class="toolbar-actions">
    <div class="btn-group">
      <button class="btn btn-default" (click)="reloadSignatures()">
        <span class="icon icon-arrows-ccw"></span>
        &nbsp;{{ 'PAGES.SHARED.RELOAD' | translate }}
      </button>
    </div>

    <button class="btn btn-default btn-dropdown pull-right" (click)="openFeedbackPane()">
      <span class="icon icon-comment"></span>
    </button>
  </div>
</header>
<div class="window-dialogs">
  <div appModal class="dialog">
    <h1 class="title left">{{ 'PAGES.APP.FEEDBACK' | translate }}</h1>
    <p>{{ 'PAGES.APP.FEEDBACK_CTA' | translate }}</p>
    <div class="checkbox">
      <label>
        <input type="checkbox" [(ngModel)]="feedbackForm.includeLogFile">
        {{ 'PAGES.APP.FEEDBACK_INCLUDE_LOGFILE' | translate }}
      </label>
    </div>
    <p>
      <a href="#" (click)="openGitHub()">{{ 'PAGES.APP.FEEDBACK_CREATE_GITHUB_ISSUE' | translate }}</a>
    </p>
    <p>
      <button class="btn btn-default" [disabled]="feedbackStatus !== 0" (click)="feedbackDialog.close()">
        {{ 'PAGES.SHARED.CANCEL' | translate }}
      </button>
      <button class="btn btn-primary pull-right" (click)="sendFeedback()"
              [disabled]="feedbackStatus !== 0">
        {{ 'PAGES.SHARED.GO' | translate }}
      </button>
    </p>
  </div>
</div>
<router-outlet></router-outlet>
