/* You can add global styles to this file, and also import other style files */
@import "~photon/dist/css/photon.css";
@import "frame-list.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
